body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	background-color: #ced0cf;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.form-v6-content  {
	margin-top: 0;
	background: #333131;;
	width: 968px;
	border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden; 
	margin: 80px 0;
	color: #025b42;
	font-weight: normal;
	position: relative;
	display: -webkit-flex;
}
.form-v6-content .form-left {
	margin-bottom: -6px;
}
.form-v6-content .form-left img {
	border-top-left-radius: auto;
	border-bottom-left-radius: auto;
}
.form-v6-content .form-detail {
    padding: 30px 40px;
	position: relative;
	width: 100%;
}
.form-v6-content .form-detail h2{
	color: rgb(255, 255, 255);
	font-size: 35px;
	text-align: center;
	position: relative;
	padding: 6px 0 0;
	margin-bottom: 47px;
}

p{
	color: #333;
}

.reg-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height:80%;
    -o-object-fit: contain;
    object-fit: contain;
     } 

.form-v6-content .form-row {
    width: 100%;
    
}
.form-v6-content .form-detail .form-row-last {
	text-align: center;
}
.form-v6-content .form-detail .input-text {
	margin-bottom: 35px;
}
.form-v6-content .form-detail input {
	border: 1px solid #d5dae2;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal; }
    .form-v6-content .form-control::-webkit-input-placeholder {
      color: #919aa3; }
    .form-v6-content .form-control::-moz-placeholder {
      color: #919aa3; }
    .form-v6-content .form-control:-ms-input-placeholder {
      color: #919aa3; }
    .form-v6-content .form-control::-ms-input-placeholder {
      color: #919aa3; }
    .form-v6-content .form-control::placeholder {
      color: #919aa3; }

.form-v6-content .form-detail .form-row input:focus {
	border-bottom: 2px solid #025b42;
}
.form-v6-content .form-detail .register {
	/* background: #fe892a; */
	background: #025b42;
	border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 160px;
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
	border: none;
	margin: 11px 0 50px 0px;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
}
.form-v6-content .form-detail .register:hover {
	/* background: #e37b27; */
	background: #ff9900;
}
.form-v6-content .form-detail .form-row-last input {
	padding: 13px;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
  font-size: 14px;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #666;
  font-size: 14px;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #666;
  font-size: 14px;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #666;
  font-size: 14px;
}

/* Responsive */
@media screen and (max-width: 991px) {
	.form-v6-content {
		margin: 180px 20px;
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v6-content .form-left {
		width: 100%;
	}
	.form-v6-content .form-left img {
		width: 100%;
		border-bottom-left-radius: 0px;
	    border-top-right-radius: 8px;
	}
	.form-v6-content .form-detail {
		padding: 30px 20px 30px 20px;
	    width: auto;
	}
	.form-v6-content .form-detail .form-row input {
		width: 96%;
	}
	.form-v6-content .form-detail .register {
		margin-bottom: 80px;
	}
}
@media screen and (max-width: 767px) {
	.form-v6-content .form-detail .form-row input {
		width: 94%;
	}
}

@media screen and (max-width: 575px) {
	.form-v6-content .form-detail .form-row input {
	    width: 89%;
	}
}
.form-group-align{
  margin-left:70;
  margin-right:70;


}