  .login-card {
    border: 0;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden; }
    
    .login-card .card-body {
      padding: 50px 45px 30px; }
      @media (max-width: 422px) {
        .login-card .card-body {
          padding: 30px 24px; } }
    
    
    .login-card .form-control {
      border: 1px solid #d5dae2;
      margin-bottom: 20px;
      min-height: 35px;
      font-size: 15px;
      line-height: 45;
      font-weight: normal; }
      .login-card .form-control::-webkit-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-moz-placeholder {
        color: #919aa3; }
      .login-card .form-control:-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::placeholder {
        color: #919aa3; }
   
  