{% extends "main/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<h1 style="text-align:center">Ubah Kata Sandi</h1><br><br>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div id="div_id_old_password" class="form-group"> <label for="id_old_password" class=" requiredField">
                Old Password<span class="asteriskField"></span> </label> <div class=""> <input type="password" name="old_password" autocomplete="current-password" autofocus class="textinput textInput form-control" required id="id_old_password"> </div> </div> <div id="div_id_new_password1" class="form-group"> <label for="id_new_password1" class=" requiredField">
                New Password<span class="asteriskField"></span> </label> <div class=""> <input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password1"> <small id="hint_id_new_password1" class="form-text text-muted"><ul><li>Kata sandi anda tidak boleh mirip dengan informasi pribadi anda.</li><li>Kata sandi anda harus memiliki minimal 8 karakter.</li><li>Jangan menggunakan kata sandi yang sering digunakan.</li><li>Kata sandi anda tidak boleh hanya angka saja.</li></ul></small> </div> </div> <div id="div_id_new_password2" class="form-group"> <label for="id_new_password2" class=" requiredField">
                New Password Confirmation<span class="asteriskField"></span> </label> <div class=""> <input type="password" name="new_password2" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password2"> </div> </div>
        <a href="/edit_profile"><strong>Change Profile</strong></a><br><br>
        <button type="submit" class="btn btn-primary"><strong>Change</strong></button> <br><br>
    </form>
</div>
{% endblock %}
